@import 'bourbon/bourbon';

$main-background: #fff;
$secondary-background: #f1f1f1;
$normal-text: #000;
$button-normal-background: #334455;
$button-text: #FFF;
$button-selected-background: #44bbff; 

.label-button{
  display: inline-block;
  color: $button-text;
  background: $button-normal-background;
  padding: 5px 10px;
  border-radius: 3px;
}

body{
  background: $main-background;
  @include transition-duration(.5s);

  &.video-on{
    background: darken($main-background, 90%);
    @include transition-duration(.5s);

    #footer{
      color: $button-text;
      @include transition-duration(.5s);
    }

    .content .screen{
      background: darken($secondary-background, 90%);
      border: solid 1px #000;
      @include transition-duration(.5s);
    }
  }

  ul{
    list-style: none;
    margin: 10px 0 10px 0;
    padding: 0;
    
    p{
      margin: 10px 0 0 0;
      font-weight: bold;
    }

    li{
      @extend .label-button;
      cursor: pointer;
      margin: 0 3px 7px 0;

      a, a:hover, a:visited{
        color: #FFF;
        text-decoration: none;
      }

      &.selected{
        background: $button-selected-background;
      }
    }
  }

  h3{
    color: $normal-text;
  }

  h2{
    color: $normal-text;
    font-size: 54px;
  }

  .content{
    max-width: 800px;
    margin: 50px auto;

    #start-screen{
      #slider{
        width: 95%;
        margin: 10px auto 30px;
        background: #334455;

        .ui-slider-range{
          background: #44bbff;
        }
        .ui-slider-handle{
          background: #FFF !important;
        }
      }
    }

    .screen{
      background: $secondary-background;
      padding: 30px;
      border: solid 1px #ccc;
      @include transition-duration(.5s);


      &#video-screen{
        display: none;

        #video-wrapper{
          width: 100%;
          max-height: 450px;
          padding-top: 56.25%;
          position: relative; 

          iframe{
            position: absolute;
            top: 0; 
            bottom: 0; 
            right: 0; 
            left: 0;
            width: 100%;
            height: 100%;
          } 
        }
      }
      
      &#error-screen{
        display: none;
      }

      &#sources-screen {
        display: none;
      }

      .note{
        color: $normal-text; 
        margin: 0;
      }

      .btn{
        background: $button-normal-background;
        color: $button-text;
        margin: 15px 0 0 0; 

        &:hover{
          background: $button-selected-background;
          color: $button-text;
        }
      }
      #about{
        text-align: right;
        padding: 3px 5px;
        font-size: 1em;
        color: #000;
        text-decoration: underline;
        display: block;
        margin: -25px 0 0 0;
      }
    }
  }

  @media only screen and (max-width: 640px){
    h2{
      font-size: 5em;
    }
    h3{
      font-size: 3.5em;
      margin-top: 1em;
    }
    .note{
      font-size: 2em;
    }
    .genre{
      font-size: 2em;
      padding: 5px 20px;
    }

    .ui-widget{
      font-size: 2.1em !important;
    }

    button{
      font-size: 2em !important;
    }

  }

  #footer{
    color: $normal-text;
    text-align: center;
    font-size: 12px;
    margin: 5px;
    @include transition-duration(.5s);
  }

  @media only screen and (max-width: 1136px){
    .content {
      margin: 0;
    }

    #slider{
      width: 100%;
      margin: 40px auto 30px;
    }
  }

  @media only screen and (max-width: 1135px) and (orientation: landscape){
    h2{
      font-size: 3em;
    }
    h3{
      font-size: 2.5em;
      margin-top: 1em;
    }
    .note{
      font-size: 1.5em;
    }
    .genre{
      font-size: 1.5em;
      padding: 5px 20px;
    }

    button{
      font-size: 1.5em !important;
    }
  }
}