.label-button, body ul li {
  display: inline-block;
  color: white;
  background: #334455;
  padding: 5px 10px;
  border-radius: 3px; }

body {
  background: white;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  body.video-on {
    background: #1a1a1a;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    body.video-on #footer {
      color: white;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      transition-duration: 0.5s; }
    body.video-on .content .screen {
      background: #0b0b0b;
      border: solid 1px #000;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      transition-duration: 0.5s; }
  body ul {
    list-style: none;
    margin: 10px 0 10px 0;
    padding: 0; }
    body ul p {
      margin: 10px 0 0 0;
      font-weight: bold; }
    body ul li {
      cursor: pointer;
      margin: 0 3px 7px 0; }
      body ul li a, body ul li a:hover, body ul li a:visited {
        color: #FFF;
        text-decoration: none; }
      body ul li:active {
        background: #44bbff;
        color: white; }
      body ul li.selected {
        background: #44bbff; }
  body h3 {
    color: black; }
  body h2 {
    color: black;
    font-size: 54px; }
  body .content {
    max-width: 800px;
    margin: 50px auto 10px; }
    body .content #start-screen #slider {
      width: 100%;
      margin: 10px auto 30px;
      background: #334455; }
      body .content #start-screen #slider .ui-slider-range {
        background: #44bbff; }
      body .content #start-screen #slider .ui-slider-handle {
        background: #FFF !important; }
    body .content .screen {
      background: #f1f1f1;
      padding: 30px;
      border: solid 1px #ccc;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      transition-duration: 0.5s; }
      body .content .screen#video-screen {
        display: none; }
        body .content .screen#video-screen #video-wrapper {
          width: 100%;
          max-height: 450px;
          padding-top: 56.25%;
          position: relative; }
          body .content .screen#video-screen #video-wrapper iframe {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%; }
        body .content .screen#video-screen button.darken {
          transition: 2s;
          opacity: 0.1; }
      body .content .screen#error-screen {
        display: none; }
      body .content .screen#sources-screen {
        display: none; }
      body .content .screen#end-screen {
        display: none; }
      body .content .screen .note {
        color: black;
        margin: 0; }
      body .content .screen .btn {
        background: #334455;
        color: white;
        margin: 15px 0 0 0; }
        body .content .screen .btn:active {
          background: #44bbff;
          color: white; }
      body .content .screen #about {
        text-align: right;
        padding: 3px 5px;
        font-size: 1em;
        color: #000;
        text-decoration: underline;
        display: block;
        margin: -25px 0 0 0; }
  body #footer {
    color: black;
    text-align: center;
    font-size: 1em;
    margin: 5px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  @media only screen and (max-width: 640px) {
    body h2 {
      font-size: 2em;
      margin-top: 0; }
    body h3 {
      font-size: 1.5em;
      margin-top: 1em; }
    body .screen {
      padding: 15px !important; }
    body .note {
      font-size: 1.1em; }
    body .genre {
      font-size: 1em;
      padding: 5px 20px; }
    body .ui-widget {
      font-size: 1.2em !important; }
    body button {
      font-size: 1em !important; } }
  @media only screen and (max-width: 1136px) {
    body .content {
      margin: 0 auto; }
    body #slider {
      width: 100%;
      margin: 40px auto 30px; }
    body #video-screen {
      text-align: center; }
      body #video-screen .darken {
        transition: 0 !important;
        opacity: 1 !important; } }
  @media only screen and (max-width: 1135px) and (orientation: landscape) {
    body .content {
      width: 100%;
      margin: 0 auto; }
    body #video-screen #video-wrapper {
      width: 60% !important;
      padding-top: 36.25% !important;
      position: relative !important;
      margin: 0 auto !important; }
    body #footer {
      font-size: 1em; }
    body button {
      font-size: 1em !important; } }
